<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>     
    </head>

    <body>
        <%include ../views/header.ejs %>
        
        <div class="container">
            <h1>Trento Events</h1><br>
            <% elements.forEach(function (e){  %>       
                <div class="list-group">
                    <a class="list-group-item col-md-12 n_m">
                        <div class="col-md-2"><img src="img/event.png" class="img-thumbnail"></div>
                        <div class="n_i col-md-10">
                            <div class="col-md-8">
                                <p class="n_i_t"><%=e.name%></p>
                                <p class="n_i_d"><%=e.description%></p>                    
                            </div>
                            <div class="col-md-4 n_i_a">
                                <p>Place Name: <%=e.place_name%></p>
                                <p>Address: <%=e.address%></p>
                                <p>Date: <%=e.data%></p>
                                <p>Hour: <%=e.hour_range%></p>
                                <p>Cost: <%=e.cost%></p>
                            </div>
                        </div>            
                    </a>
                    <div class="clearer"></div>
                </div> 
            
            <% }) %>
        </div>
        <br><br><br>
        <%include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>