<!DOCTYPE html>
<html> 
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>
    </head>
    
    <body>
        <% include ../views/header.ejs %>
        
        <!-- Main message for users -->
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-8">
                    <h1>Discover Trento</h1>
                    <p>Through this application, you can find out many places of the city of Trento and its surroundings and not only. Browse the site to find out more.</p>
                </div>
                <div class="col-md-4">
                    <div class="resize" >
                        <img id="resized" src="../img/Trento_dall_alto.jpg" alt="welcomeImg">                   
                    </div>
                </div>
            </div>
        </div>
            
        <div class="container">
            <!-- Home Page Content -->        
            <div class="row">     
                <div class="col-md-6">
                    <h2>Place of the week</h2>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <div class="img-bestweek">
                                <img class="img-lib2" src="../img/photo/<%=bestplaces[0].photo%>" alt="bestweek photo">
                            </div>
                            
                            <div class="caption">
                                <h3><%=bestplaces[0].name%></h3>
                                <br>
                                <form method="POST" action="https://blooming-reef-42377.herokuapp.com/place">
                                    <input type="hidden" name="placeId" value="<%=bestplaces[0].id%>">
                                    <p>
                                        <button class="btn btn-primary btn-bottom" type="submit">Details</button>
                                    </p>    
                                </form>                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <h2>Weather</h2>
                    <iframe style="max-width:100%; max-height:100%;" src="https://www.meteoblue.com/en/weather/widget/three?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="width: 460px;height: 593px"></iframe>
                </div>               
            </div>
            
            <div class="row">
 
                <div class="col-md-12">
                    <h2>Last News</h2>
                        <% lastnews.forEach(function (n){  %>
                            <div class="list-group">
                                <a class="list-group-item active n_m col-md-12">
                                    <div class="col-md-2"><img src="img/news.png" class="img-thumbnail"></div>
                                    <div class="n_i col-md-10">
                                        <div class="col-md-12">
                                            <p class="n_i_t pull-left"><%=n.title%></p>
                                            <p class="n_i_o pull-right"><%=n.data%> <%=n.hour%></p>
                                        </div>
                                        <div class="clearer"></div>
                                        <div class="col-md-12">
                                            <p class="n_i_d"><%=n.description%></p>
                                            <p class="n_i_p"><%=n.place_name%></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                </div>
            </div>               
        </div>

        <br><br><br>
        <% include ../views/footer.ejs %>
    
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>
</html>
