<!DOCTYPE html>
<html>
    <head>        
        <!-- metadata -->  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Discover Trento Places</title>
        <meta name="description" content="Home page of Discover Trento Web-Application">
        <meta name="author" content="MarianDiaconu">
        <!-- Favicon -->
        <link rel="icon" href="img/favicon.ico">
        
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="     crossorigin="anonymous"></script>
        <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                

        <!-- Personal Scripts -->
        <script src="../scripts/updateNews.js"></script>
        
        <!-- Personal styles -->
        <link rel="stylesheet" href="../css/home.css">
        <title> Insertion Page </title>
    </head>

    <body>  
        <nav class="navbar navbar-inverse navbar-ficex-top">
            <div class="container">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://localhost:5000/">Discover Trento <small>and surroundings </small></a>
                </div>
                
                <!-- INSERIRE BOTTONI QUANDO PRONTI -->
                
            </div>
        </nav>  
        <div class="container">
            <br>
            <div class="alert alert-info" role="alert">
                Here you can insert new <b>content</b> for the site!<br>
                *all the fields are required
            </div>
            
            <h2>Private Space</h2>
              <ul class="nav nav-tabs">
                <li <% if (where=='1'){ %> class="active" <% } %> ><a data-toggle="tab" href="#home">Insert Places</a></li>
                <li <% if (where=='2'){ %> class="active" <% } %>><a data-toggle="tab" href="#menu1">Insert News</a></li>
                <li <% if (where=='3'){ %> class="active" <% } %>><a data-toggle="tab" href="#menu2">Insert Events</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade <% if (where=='1'){ %> in active <% } %>">
                    <br>
                    <div class="thumbnail">
                        <h3><span class="label label-default">Insert a Place</span></h3>
                        <br>
                        <form id="placeForm" method="POST" enctype="multipart/form-data" action="http://localhost:5000/placeUpload">
                            <% if (placeMessage == "1"){ %>
                                <!-- Nothing -->
                            <% }else if(placeMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=placeMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">Place successfully inserted!</div>
                            <% }; %>
                            Name:<br>
                            <input type="text" name="placeName" value="<%=placeName %>"><br>
                            Address:<br>
                            <div id="locationField">
                              <input id="place_address" name="placeAddress" type="text" value="<%=placeAddress %>"/>
                            </div>
                            History:<br>
                            <textarea rows="6" cols="25" type="text" name="placeHistory" value="<%=placeHistory %>"></textarea><br>
                            Other Info:<br>
                            <textarea rows="6" cols="25" type="text" name="placeInfo" value="<%=placeInfo %>"></textarea><br>
                            Type: <br>
                            <input type="number" name="placeType" min="0" max="2" value="<%=placeType %>">
                            <br>0 for University Place and<br>
                            1 for City Place<br>
                            2 for Other<br>
                            <br>
                            Choose a photo:
                            <input type="file" name="placePhoto"><br>
                            <button id="place_btn" class="btn btn-success" type="submit" >Insert Place</button>

                        </form>
                
                    </div>
                </div>
                  
                <div id="menu1" class="tab-pane fade <% if (where=='2'){ %> in active <% } %>">
                    <br>
                      <div class="thumbnail">
                        <h3><span class="label label-default">Insert News</span></h3>
                        <br>
                        <form id="news_form" method="POST" action="http://localhost:5000/newsUpload">
                            <% if (newsMessage == "1"){ %>
                                <!-- Nothing -->
                            <% }else if(newsMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=newsMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">News successfully inserted!</div>
                            <% }; %>

                            Title:<br>
                            <input type="text" name="title" id="title" value="<%=title%>"><br>
                            Description:<br>
                            <textarea rows="6" cols="25" type="text" name="desc" id="desc" value="<%=desc%>"></textarea><br>
                            Data: <br>
                            <input type="text" name="data" id="data" value="<%=data%>"><br>
                            Hour: <br>
                            <input type="text" name="hour" id="hour" value="<%=hour%>"><br>
                            Place: <br>
                            <input type="text" name="place" id="place" value="<%=place%>"><br>
                            <br><br>
                            <button id="news_btn" class="btn btn-success" type="submit" >Insert News</button>
                        </form>
                    </div>
                </div>
                  
                <div id="menu2" class="tab-pane fade <% if (where=='3'){ %> in active <% } %>">
                    <br>
                    <div class="thumbnail">
                        <h3><span class="label label-default">Insert an Event</span></h3>
                        <br>
                        <form method="POST" id="eventForm" action="http://localhost:5000/eventUpload">
                            <% if (eventMessage == "1"){ %>
                            <!-- Nothing -->
                            <% }else if(eventMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=eventMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">News successfully inserted!</div>
                            <% }; %>

                            Name:<br>
                            <input type="text" name="eventName" value="<%=eventName%>"><br>
                            Address:<br>
                            <input type="text" name="eventAddress" value="<%=eventAddress%>"><br>
                            Data: <br>
                            <input type="text" name="eventData" value="<%=eventData%>"><br>
                            Hours Range: <br>
                            <input type="text" name="eventHours" value="<%=eventHours%>"><br>
                            Description:<br>
                            <textarea rows="6" cols="25" type="text" name="eventDesc" value="<%=eventDescription%>"></textarea><br>
                            Cost: <br>
                            <input type="text" name="eventCost" value="<%=eventCost%>"><br>
                            Place: <br>
                            <input type="text" name="eventPlace" value="<%=eventPlace%>"><br>
                            Type: <br>
                            <input type="number" name="eventType" min="0" max="4" value="<%=eventType%>">
                            <br>0 for University Event<br>
                            1 for Politics <br>
                            2 for Culture <br>
                            3 for Local News <br>
                            4 for Music <br>
                            <button class="btn btn-success" type="submit">Insert Event</button>
                        </form>
                    </div>
                </div>
              </div>

            
            
        </div>
        
        <br><br>
        <footer class="footer footer_color">
          <div class="container">
            <p class="alignment_right">© 2016 Discover Trento, A project made by <a href="http://localhost:5000/login">Marian Alexandru Diaconu.</a></p>
          </div>
        </footer>

    </body>

</html>