<!DOCTYPE html>
<html>
    <head>        
        <!-- metadata -->
        <%include ../views/head.ejs %>
        
        <title> Insertion Page </title>
    </head>

    <body>  
        <% include ../views/header.ejs %>
        
        <div class="container">
            <br>
            <div class="alert alert-info" role="alert">
                Here you can insert new 
                <b>
                    content
                </b> 
                for the site!<br>
                *all the fields are required<br>
                Here you can also: <a href="https://blooming-reef-42377.herokuapp.com/logout" type="button" class="btn btn-default navbar-btn">Sign out</a>
            </div>
            
            <h2>Private Space</h2>
            <ul class="nav nav-tabs">
                <li <% if (where=='1'){ %> class="active" <% } %> ><a data-toggle="tab" href="#home">Insert Places</a></li>
                <li <% if (where=='2'){ %> class="active" <% } %>><a data-toggle="tab" href="#menu1">Insert News</a></li>
                <li <% if (where=='3'){ %> class="active" <% } %>><a data-toggle="tab" href="#menu2">Insert Events</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade <% if (where=='1'){ %> in active <% } %>">
                    <br>
                    <div class="thumbnail">
                        <h3>
                            <span class="label label-default">
                                Insert a Place
                            </span>
                        </h3>
                        <br>
                        <form id="placeForm" method="POST" enctype="multipart/form-data" action="https://blooming-reef-42377.herokuapp.com/placeUpload">
                            <!-- scriptlet to check if a message to user is needed -->
                            <% if (placeMessage == "1"){ %>
                                <!-- Nothing -->
                            <% }else if(placeMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=placeMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">Place successfully inserted!</div>
                            <% }; %>
                            
                            <label>
                                Name:
                            </label><br>
                            <input type="text" name="placeName" value="<%=placeName %>" maxlength="50"/><br>
                            
                            <label>
                                Address:
                            </label><br>
                            <input id="place_address" name="placeAddress" type="text" value="<%=placeAddress %>" maxlength="200"/><br>
                            
                            <label>
                                History:
                            </label><br>
                            <textarea rows="6" cols="25" type="text" name="placeHistory" ><%=placeHistory %></textarea><br>
                            
                            <label>
                                Other Info:
                            </label><br>
                            <textarea rows="6" cols="25" type="text" name="placeInfo"><%=placeInfo %></textarea><br>
                            
                            <label>
                                Type:
                            </label> <br>
                            <input type="number" name="placeType" min="0" max="3" value="<%=placeType %>">
                            <i>
                                <br>0 for University Department<br>
                                1 for Libraries <br>
                                2 for City Squares<br>
                                3 for Monuments<br>
                                <br>
                            </i>
                            
                            <label>
                                Choose a photo:
                            </label>
                            <input type="file" name="placePhoto"><br>
                            <button id="place_btn" class="btn btn-success" type="submit" >Insert Place</button>
                        </form>
                    </div>
                </div>
                  
                <div id="menu1" class="tab-pane fade <% if (where=='2'){ %> in active <% } %>">
                    <br>
                      <div class="thumbnail">
                        <h3><span class="label label-default">Insert News</span></h3>
                        <br>
                        <form id="news_form" method="POST" action="https://blooming-reef-42377.herokuapp.com/newsUpload">
                            <!-- check if a message is needed -->
                            <% if (newsMessage == "1"){ %>
                                <!-- Nothing -->
                            <% }else if(newsMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=newsMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">News successfully inserted!</div>
                            <% }; %>

                            <label>
                                Title:
                            </label><br>
                            <input type="text" name="title" id="title" value="<%=title%>" maxlength="45"><br>
                            
                            <label>
                                Description:
                            </label><br>
                            <textarea rows="6" cols="25" type="text" name="desc" id="desc" >
                                <%=desc%>
                            </textarea><br>
                            
                            <label>
                                Date:
                            </label><br>
                            <input type="text" name="data" id="data" value="<%=data%>" maxlength="19"><br>
                            
                            <label>
                                Hour:
                            </label><br>
                            <input type="text" name="hour" id="hour" value="<%=hour%>" maxlength="19"><br>
                            
                            <label>
                                Place Name:
                            </label><br>
                            <input type="text" name="place" id="place" value="<%=place%>" maxlength="45"><br>
                            <br><br>
                            <button id="news_btn" class="btn btn-success" type="submit" >
                                Insert News
                            </button>
                        </form>
                    </div>
                </div>
                  
                <div id="menu2" class="tab-pane fade <% if (where=='3'){ %> in active <% } %>">
                    <br>
                    <div class="thumbnail">
                        <h3><span class="label label-default">Insert an Event</span></h3>
                        <br>
                        <form method="POST" id="eventForm" action="https://blooming-reef-42377.herokuapp.com/eventUpload">
                            <!-- check if a message is needed -->
                            <% if (eventMessage == "1"){ %>
                            <!-- Nothing -->
                            <% }else if(eventMessage != "OK"){ %>
                                <div class="alert alert-danger" role="alert"><%=eventMessage%></div>
                            <% }else{ %> 
                                <div class="alert alert-success" role="alert">Event successfully inserted!</div>
                            <% }; %>

                            <label>
                                Name:
                            </label><br>
                            <input type="text" name="eventName" value="<%=eventName%>" maxlength="95"><br>
                            
                            <label>
                                Address:
                            </label><br>
                            <input type="text" name="eventAddress" value="<%=eventAddress%>" maxlength="195"><br>
                            
                            <label>
                                Date:
                            </label><br>
                            <input type="text" name="eventData" value="<%=eventData%>" maxlength="100"><br>
                            
                            <label>
                                Hours Range:
                            </label><br>
                            <input type="text" name="eventHours" value="<%=eventHours%>" maxlength="95"><br>
                            
                            <label>
                                Description:
                            </label><br>
                            <textarea rows="6" cols="25" type="text" name="eventDesc" >
                                <%=eventDescription%>
                            </textarea><br>
                            
                            <label>
                                Cost:
                            </label><br>
                            <input type="text" name="eventCost" value="<%=eventCost%>" maxlength="40"/><br>
                            
                            <label>
                                Place Name:
                            </label><br>
                            <input type="text" name="eventPlace" value="<%=eventPlace%>" maxlength="40"/><br>
                            
                            <label>
                                Type:
                            </label><br>
                            <input type="number" name="eventType" min="0" max="4" value="<%=eventType%>"/>
                            <i>
                                <br>0 for University Event<br>
                                1 for Politics <br>
                                2 for Culture <br>
                                3 for Local News <br>
                                4 for Music <br>
                            </i>
                            <button class="btn btn-success" type="submit">
                                Insert Event
                            </button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>