<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>
        <title>News</title>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">
            <h1>Trento News</h1><br>
            <% elements.forEach(function (n){  %>
                <div class="list-group">
                    <a class="list-group-item active n_m col-md-12">
                        <div class="col-md-2"><img src="img/news.png" class="img-thumbnail"></div>
                        <div class="n_i col-md-10">
                            <div class="col-md-12">
                                <p class="n_i_t pull-left"><%=n.title%></p>
                                <p class="n_i_o pull-right"><%=n.data%> <%=n.hour%></p>
                            </div>
                            <div class="clearer"></div>
                            <div class="col-md-12">
                                <p class="n_i_d"><%=n.description%></p>
                                <p class="n_i_p"><%=n.place_name%></p>
                            </div>
                            
                            
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>