<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">
            <div class="page-header">
                <h1>
                    <%=place.name%> 
                    <small>
                        <%=place.address%>
                    </small>
                </h1>
            </div>
            
            <img src="../img/<%=place.photo%>" alt="<%=place.id%>PlacePhoto">
            
            <h3>
                <span class="label label-default">
                    History
                </span>
            </h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%=place.history%>
                </div>
            </div>
            
            <h3>
                <span class="label label-default">
                    Info
                </span>
            </h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%=place.info%>
                </div>
            </div>
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>